<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>

<style>
		h1 {
			font-size: 24px;
			color: blue;
		}
		p {
			font-size: 20px;
			color: black;
		}
		li {
		    font-size: 26px;
		    color: hard pink
        }
        body {
        background-color: #C4F8E9;
      }

	</style>
<h1>Welcome to our Restaurant!</h1>
<h1>Заповядайте в нашия Ресторант!</h1>
<nav>
    <ul>
        <li><a href="Menu-customer.html">Menu</a></li>
        <li><a href="reservation.html">Reservation</a></li>
        <li><a href="about.html">About Us</a></li>
    </ul>
</nav>
<p>We offer a variety of delicious dishes for all tastes. Come and try them!</p>
<p>Предлагаме разнообразие от вкусни ястия за всеки вкус. Елате и ги опитайте!</p>

<div style="position: absolute; top: 0; right: 0;">
    <img src="pWelcome.jpg" alt="Image description" style="width: 800px; height: 400px;">
</div>

<nav>
    <ul>
        <li> <a href="LoginPage.html">Служебен вход</a></li>
    </ul>
</nav>

</body>

</html>
