<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Сервитьор</title>
</head>
<body>
<h1>Добре дошли, Сервитьор!</h1>
<p>Моля, изберете едно от следните действия:</p>
<ul>
  <li><a href="Menu-customer.html">Меню</a></li>
  <li><a href="Menu.html">Меню редактиране</a></li>
  <li><a href="/сервитьор/вземане-на-поръчка">Вземане на поръчка-активни поръчки</a></li>
  <li><a href="/сервитьор/редактиране-на-поръчка">Редактиране на поръчка</a></li>
  <li><a href="/сервитьор/сервиране-на-поръчка">Сервирани поръчки</a></li>
  <li><a href="/сервитьор/плащане">Плащане</a></li>
  <li><a href="/сервитьор/смяна-на-масата">Смяна на масата</a></li>
  <li><a href="/сервитьор/справка-обслужени">Справка обслужени маси</a></li>
</ul>
</body>
</html>
