<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Готвач</title>
</head>
<body>
<h1>Добре дошли, Готвач!</h1>
<p>Моля, изберете едно от следните действия:</p>
<ul>
    <li><a href="/готвач/приготвяне-на-храна">Приготвяне на храна-нови поръчки</a></li>

    <li><a href="/готвач/справки">Справка за брой поръчки по дата</a></li>
    <li><a href="/готвач/приемане-на-постъпилите-продукти">Приемане на постъпилите продукти</a></li>
    <li><a href="/готвач/инспекция-на-храната">Инспекция на храната</a></li>
</ul>
</body>
</html>
